.card-hover {
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
}

.card-hover:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.header {
    margin-top: 5em;
    text-align: center;
    height: auto;
    color:  rgb(53, 121, 199);
}

.calculate {
    margin: 3em auto;
    border: solid 1px rgb(53, 121, 199);
    border-radius: 1em;
    width: 20em;
}

.display {
    margin: 3em 1em 1em 1em;
    padding: 0 1em;
    height: auto;
    border: solid 1px rgb(53, 121, 199);
    border-radius: 0.5em;
}

.sum {
    text-align: right;
}

.number-group {
    margin: 2em 1em 4em 1em;
    /* padding: 1em; */
    /* border: solid 1px black; */
    text-align: center;
}

.button {
    margin: 0.1em;
    /* border: solid 1px black; */
    border-radius: 0;
    width: 4em;
    height: 3em;
}

.operation {
    border-color: aquamarine;
}

.operation:hover {
    border-color: aquamarine;
    background-color: aquamarine;
}
