.card-hover {
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

.card-hover:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.box {
  border: solid 1px black;
  margin-top: 5em;
  align-items: center;
}

.calculate {
    margin: 0 auto;
  border: solid 1px black;
  width: 10em;
  height: 50em;
}
